{% extends 'base.html' %} {% block title %}My Top 10 Movies{% endblock %} 
{%block content %}
<div class="container">
  {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %} {% endif %} {% endwith %}
  <h1 class="heading">Movie Trackie!</h1>
  <p class="description">Lookup and store your all-time favorite movies. Below are some user chosen titles!</p>
  <div class="card-container">
    {% for movie in public_data %}
    <div class="card">
      <div class="front" style="background-image: url({{movie.img_url}});">
        <p class="large">{{ movie.rating }}</p>
      </div>
      <div class="back">
        <div>
          <div class="title">
            {{ movie.title }}
            <span class="release_date">({{ movie.year }})</span>
          </div>
          <div class="rating">
            <label>{{ movie.rating }}</label>
            <i class="fas fa-star star"></i>
          </div>
          <p class="review"></p>
          <p class="overview">{{ movie.description }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}
