{% extends 'base.html' %} {% from 'bootstrap5/form.html' import render_form %}
{% block content %}
<div class="container">
  <h1 class="heading">Profile</h1>
  <div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
    <div class="card-profile rounded p-4">
      <div
        class="image d-flex flex-column justify-content-center align-items-center"
      >
        <img
        src="{{ url_for('static', filename='avatars/' + current_user.avatar_img)}}"
        alt="mdo"
        width="133"
        height="133"
        class="rounded-circle"
        />
        <span class="name mt-3">{{ current_user.first_name }} {{ current_user.last_name }}</span>
        <span class="idd">@{{ current_user.username }}</span>
        <div
          class="d-flex flex-row justify-content-center align-items-center gap-2"
        >
          <span class="idd1">{{ current_user.email }}</span>
        </div>
        <div class="d-flex mt-2">
          <button class="btn1 rounded btn-dark">Edit Profile</button>
        </div>
        <div class="px-2 rounded mt-4 date">
          <span class="join">Joined {{ current_user.date }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
